</html>

<!DOCTYPE html>
<html>

<head>
    <title>Delete Plan</title>
    <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="./api/delplan" method="POST">

                <input type="text" name="location" placeholder="confirm trip location" class="form-control"
                    id="text-id" />
                <button type="submit" class="btn btn-success">Deleter</button>

            </form>
        </div>
    </div>
</body>

</html> 