<!DOCTYPE html>
<html lang="en">
<head>
    <title >My Itenerary</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--For select quary-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='select2/dist/js/select2.min.js' type='text/javascript'></script>
</head>

<body>
        <h1 class="display-4" >My Iteneraries</h1> 
        
        <h6><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></h6>
       <!--  <div class="media position-relative">

            <img class="mr-2" style="height: 144px; width: 144px" src="/cdn/images/it3.jpg"
              alt="image">
          
            <div class="media-body">
              <h5 class="mt-0">Media with stretched link</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.</p>
              <a href="https://mdbootstrap.com/education/bootstrap/quick-start/" class="stretched-link">Go somewhere</a>
            </div>
          </div> -->
       
</body>
<script src = "/cdn/scripts/itineraries/myit.js" ></script>
 <link rel="stylesheet" type="text/css" href="/cdn/css/myit.css">
</html>