<!DOCTYPE html>
<html lang="en">

<head>
    <title class="display-1">Plan Your Itinerary</title>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" type="text/css" href="/cdn/css/plan.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Google font -->
    <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <!-- bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="heading">
        <h1 class="h1">PLAN YOU ITINERARY!</h1>

        <!-- Return to home page -->
        <h5><a href="/">Home</a></h5>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">

                <div class="card border border-primary" style="height:650px">
                    <h5 class="card-title text-center d-inline p-2 bg-primary text-white">SEARCH AND ADD DESTINATIONS
                    </h5>
                    <div data-spy="scroll" class="container">
                        <form action="plan/api/plan" method="post">
                                <div class="input-group mb-3">
                                    <input id="location" name="location" type="text" class="form-control input-sm" placeholder="search place">
                                </div>

                                <label for="Start Date" id = "actLabel" class="text-primary">Number of Activities: 5 maximum</label>

                                <div class="input-group mb-3">
                                    <input id="activities"  name ="activities" type="text" class="form-control input-sm" placeholder="Activities">
                                </div>

                                <label for="Start Date" class="text-primary">Start Date</label>
                                <div class="input-group date">
                                    <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Start Date">
                                </div>
                                <label id = "endDateLabel" for="endDate" class="text-primary" >End Date:</label>
                                <div class="input-group date">
                                    <input type="date"  class="form-control" id="endDate" name="endDate" placeholder="End Date">
                                </div>
                                <div class="invalidDate"></div>
                                <br>
                                <div class="button">
                                    <button id="addLocation" type="submit" class="btn btn-primary btn-sm">ADD TO MY
                                        DESTINATIONS</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div id="googleMap" style="width:100%;height:650px;"></div>
            </div>

            <div class="col-sm-3">

                <div id="locations" class="cliente">

                </div>
                <div id="saveSection">
                    <form action="plan/api/save" method="post">

                        <label id="itLabel" for="itName">Itinenary Name:</label>
                        <input type="text" id="itName" name="itName" placeholder="Itinerary Name"
                            class="form-control form-control-lg" style="width: 200px"><br></br>
                        <button id="save" type="submit" class="btn btn-outline-success">Save</button>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <script>
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labelIndex = 0;
        var searchedPlaces = [];
        var map;
        var Places;
        var current_place;
        var markers = [];

        function myMap() {
            var haightAshbury = { lat: -26.192, lng: 28.026 };

            map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 10,
                center: haightAshbury,
            });

            var input = document.getElementById('location');
            var searchBox = new google.maps.places.SearchBox(input);
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            let addLocationButton = document.getElementById('destination')

            searchBox.addListener('places_changed', function () {
                Places = searchBox.getPlaces();
                if (Places.length == 0) {
                    return;
                }
                var bounds = new google.maps.LatLngBounds();
                Places.forEach(function (place) {
                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                    current_place = place;
                })

            })
            addLocationButton.addEventListener('click', function () {
                addMarker(current_place.geometry.location);
            })
        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                animation: google.maps.Animation.DROP,
                label: labels[labelIndex++ % labels.length],
                map: map,
            });
            markers.push(marker);
        }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhOIO8gWPyPOAYbb57-SG-KwNSytlKlJg&libraries=places&callback=myMap"></script>
</body>
<script src="/cdn/scripts/itineraries/plan.js"></script>

</html>