<!DOCTYPE html>
<html lang="en">
<head>
  <title>accountBlocked</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/profile.css">

</head>
<body>

<div class="container">
  <h1 id = "blocked" data-toggle="modal" data-target="#myModal">Your account has been blocked due to security reasons (3 failed attempts to login). To recover you password <a>contact  </a>the itdesk</h1>
  <!-- Trigger the modal with a button -->
  

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Account Blocked</h4>
        </div>
        <div class="modal-body">
          <p>Please contact the itdesk to unblock your account</p>
          <p>Telephone: 014 529 6643</p>
          <p>Email: mytravelplanner@gmail.com</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</body>
</html>
