<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creating an account</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/cdn/css/account.css">
    <!-- <link rel="stylesheet" href = "/cdn/css/all.css"> -->
    <script src = "/cdn/scripts/account/account.js" ></script>

</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
                <div class="col-md-8 col-lg-6">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="login-heading mb-4">Welcome!</h3>
                                    <form class="form-signin" action="./api/create" method="POST">
									    <div class="form-label-group">
                                            <label for="inputEmail">Name</label>
                                            <input type="text" name="name" id="name" class="form-control"
                                                placeholder="Your name" required autofocus>
                                            
                                        </div>
										<div class="form-label-group">
                                            <label for="Surname">Surname</label>
                                            <input type="text" name="surname" id="surname" class="form-control"
                                                placeholder="Your surname" required autofocus>
                                            
                                        </div>
                                        <div class="form-label-group">
                                            <label for="inputEmail">Email address</label>
                                            <input type="email" name="email" id="inputEmail" class="form-control"
                                                placeholder="Email address" required autofocus>
                                            
                                        </div>
                                        <div class="form-label-group">
                                            <label for="inputPassword">Cellphone Number</label>
                                            <input type="text" name="cellphone" id="inputcellphone" class="form-control"
                                                placeholder="Your cellphone number" required autofocus
												onkeyup = 'checkCellnumber();'
											>
											<span id='message2'></span>
                                            
                                        </div>
										
										<div class="form-label-group">
                                            <label for="inputPassword">Password</label>
                                            <input type="password" name= "password" id="inputPassword" class="form-control"
                                                placeholder="Password" required
												onkeyup='checkPasswordLength();'
											>
											<span id='message1'></span>
                                            
                                        </div>
										
										<div class="form-label-group">
                                            <label for="inputPassword">Confirm password</label>
                                            <input type="password" name="confirmpassword" id="confirmPassword" class="form-control"
                                                placeholder="Confirm Password" required
												onkeyup='checkPasswordMatch();'
												>
											<span id='message'></span>	
                                            
                                        </div>

                                        <button type="submit"
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit" id='signUpButton'>Sign Up</button>
                                        <hr class="my-4">
                                    </form>
                                    <form action="/g/auth/google" method="get">
                                        <button
                                            class="btn btn-lg btn-google btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit" id='signUpButton'>Sign up with Google
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>