</html>

<!DOCTYPE html>
<html>

<head>
    <title>Delete user</title>
    <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="./api/Delete" method="POST">

                <input type="email" name="email" placeholder="search by email" class="form-control"
                    id="email" />
                <button type="submit" class="btn btn-success">Delete User</button>

            </form>
        </div>
    </div>
</body>

</html> 