</html>

<!DOCTYPE html>
<html>

<head>
    <title>Edit the profile</title>
    <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="./api/edit" method="POST">

                <p class="text-success">Edit Profile</p>
                <input type="text" name="editName" placeholder="user name" class="form-control"
                    id="editName" />
                <input type="text" name="editSurname" placeholder="user surname" class="form-control"
                    id="editSurname" />
                <input type="email" name="email" placeholder="enter email" class="form-control"
                    id="email" />
                <input type="tel" name="cellphone" placeholder="contact" class="form-control"
                    id="cellphone" />
                <input type="password" name="passWord" placeholder="enter password" class="form-control"
                    id="passWord" />
               
                <button type="submit" class="btn btn-success">Update Profile</button>

            </form>
        </div>
    </div>
</body>

</html> 