</html>

<!DOCTYPE html>
<html>

<head>
    <title>Edit the profile</title>
    <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<div class="field">
            <label>Location</label>
            <input type="text" v-model="location" placeholder="Your location">
          </div>


<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="./api/edit" method="POST">

                <p class="text-success">Edit Profile</p>
                <input type="text" name="editName" class="field"
                    id="editName" />
                <input type="text" name="editSurname" class="field"
                    id="editSurname" />
                <input type="email" name="email" class="field"
                    id="email" />
                <input type="tel" name="cellphone" class="field"
                    id="cellphone" />
                <input type="password" name="passWord" placeholder="enter password" class="field"
                    id="passWord" />
               
                <button type="submit" class="btn btn-success">Update Profile</button>

            </form>
        </div>
    </div>
</body>

</html> 