</html>

<!DOCTYPE html>
<html>

<head>
    <title>Edit the profile</title>
    <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="./api/edit" method="POST">

                <p class="text-success">Edit Profile</p>
                <input type="text" name="editStudent" placeholder="new attribute, index" class="form-control"
                    id="editStudent" />
                <button type="submit" class="btn btn-success">Update Profile</button>

            </form>
        </div>
    </div>
</body>

</html>