</html>

<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/cdn/stylesheet/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="./api/RS" method="POST">

                <input type="password" name="password" placeholder="old password" class="form-control" id="email" />
                <input type="password" name="newPassword" placeholder="new password" id="inputPassword"
                    class="form-control" id="email" />
                <input type="password" name="confirmPassword" placeholder="confirm new password" id="confirmPassword"
                    class="form-control" id="email" required onkeyup='checkPasswordMatch();'/>
                <button type="submit" class="btn btn-success">Change Password</button>
            </form>
        </div>
    </div>
    <script src='/cdn/scripts/account/account.js'></script>
</body>

</html>