<!DOCTYPE html>
<html lang = "en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel='stylesheet' href = "/cdn/css/layouts.css">
        
    </head>
    <body>
        <!-- Heading -->
        <div id = "us" class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class = "text-center">
                    <h1 id = "about" class="display-1">Always happy to help you travel!</h1>
                </div>                         
            </div>
        </div>

        <!-- Return to home page -->
        <h5><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></h5>
       

        <div class="container-fluid">
            <!-- Contacts container -->
            <div class="row">
                <div id = "cont" class="col-sm-2" style="background-color:lavender;">
                    <h3>Contact Details</h3>
                <div>
                    <ul>
                        <li id = "email"><a><span class="glyphicon glyphicon-envelope"></span>group003@gmail.com</a></li>
                        <li id = "phone"><a><span class='fas fa-phone'></span>014 592 8863</a></li>                               
                    </ul>           
                </div>               
            </div>
                <!-- About us container -->
                <div class="col-sm-8" style="background-color:lavenderblush;">
                    <h3>Our Vision</h3>
                    <p>We aim to give you the best platform to plan yout trips with friends and family. This website provides you with tools to plan your itineraries and presents the routes
                        of your trips on a map. You are also allowed to share your itineraries with friends and family.
                    </p>
                    
                    <h3>Our Team</h3>
                  <br>
                    <p>Boikanyo Radiokana</p>
                    <p>Kabelo Maroga</p>
                    <p>Mbongeni Mankge</p>
                    <p>Elias Sepuru</p>
                  </b>

                </div>
            </div>
        </div>
    </body>
</html>