<!DOCTYPE html>
<html lang = "en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel='stylesheet' href = "/cdn/css/layouts.css">
        
    </head>
    <body>
        <!-- Navigation bar for home page -->
        <nav class="navbar navbar-dark navbar-fixed-top navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MyTripPlanner</a>               
                </div>

                <ul class="nav navbar-nav">
                    <li id = "home"><a href="/">Home</a></li>
                    <li id = "trip"><a href="/plan">Plan a Trip</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"  href="#">Help
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li id = "aboutUs"><a href="/about">About Us</a></li>
                            <li id = "T&Cs"><a href="#">Terms & Conditions</a></li>
                            <li id = "contacts"><a href="#">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- Sign Up and Login with icons -->
                    <li id = "signUp"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>                   
                    <li id = "login" ><a href="/home" method="GET"><span  class="glyphicon glyphicon-log-in"></span> Login</a></li>                   
                 </ul>

            </div>
        </nav> 

        <!-- Showcase marketing message -->
        <br>
            <div class="jumbotron jumbotron-fluid" >
                <div class="container">
                    <div class = "text-center">
                        <h1 id = "welcome" class="display-1">Welcome!</h1>
                    </div>
                      
                </div>
            </div>
        </br>

        <!--Images of places to visit-->
        <div class = "text-center">
            <div class = "container-fluid">
                <br>
                <h3 class="display-4">Places to Visit in South Africa</h3>
            </br>
                <div class = "row">
                
                    <div class = "col-sm-4 style = background-colour:grey">
                        <img class = "img-fluid" src="/cdn/images/cape.jpg" alt="Lights" width="420" height="300">
                        <p>Cape Town Beach Front</p>
                    </div>
                    <div class = "col-sm-4 style = background-colour:grey">
                        <img class = "img-fluid" src="/cdn/images/kruger.jpg" alt="Lights" width="420" height="300">
                        <p>Kruger National Park</p>
                    </div>
                    <div class = "col-sm-4 style = background-colour:grey">
                        <img class = "img-fluid" src="/cdn/images/soweto.jpg" alt="Lights" width="420" height="300">
                        <p>Soweto</p>
                    </div>

                </div>
            </div>
        </div>    

    </body>
</html>