<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href="/cdn/css/layouts.css">

</head>

<body>
    <!-- Navigation bar for logged in home page -->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="/cdn/images/MyTrip.png" alt="logo" style="width:70px; height: 50px ">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li id="home" class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li id="trip" class="nav-item">
                <a class="nav-link" href="/plan">Plan a Trip</a>
            </li>
            <li id="Itineraries">
                <a class="nav-link" href="/plan/myplans">My Itineraries</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Help
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="tcs">Terms & Conditions</a>
                    <a class="dropdown-item" href="/about">About Us</a>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li id="signUp" class="nav-item">
                <a class="nav-link" href="/profile" method="GET">Profile</a>
            </li>
            <li id="login" class="nav-item">
                <a class="nav-link" href="./api/logout" method="GET">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- Showcase marketing message -->
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center">
                <h1 id="loggedIn" class="display-1">Logged In!!</h1>
            </div>

        </div>
    </div>
    </br>


    </div>
</body>

</html>