<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="/cdn/scripts/places/places.js"></script>

    <link rel='stylesheet' href="/cdn/css/layouts.css">

</head>

<body>
    <!-- Navigation bar for logged in home page -->

<br>
    <nav class="nav justify-content-center">
                
            <a href="/" class="nav-item nav-link active" id="home" >Home</a>
            <a href="/plan" class="nav-item nav-link" id="trip">Plan a Trip</a>
            <a class="nav-link nav link" href="/hotel/find" method="GET">Find Hotels</a>
            <a class="nav-item nav-link" href="/plan/myplans" id="Itineraries">My Plans</a>
            <a class="nav-item nav-link" href="/plan/ourplans" id="ourplans">Our Plans</a>
            <a class="nav-item nav-link" href="/profile" method="GET" id="signUp">Profile</a>             
            

           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Help
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="tcs">Terms & Conditions</a>
                    <a class="dropdown-item" href="/about">About Us</a>
                </div>
            </li>

           
              <ul class="nav navbar-nav ml-auto " id = "themodal">
                    <div>
                
                            <li class="nav-item" data-toggle="modal" data-target="#myModal">
                                <a class="nav-link" href="#" method="GET">
                                    <i class="fa fa-envelope-o">
                                        <span class="badge badge-primary" id = "notifications"></span>
                                    </i>
                                      Notifications
                                </a>
                            </li>
                      
                            
                            <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                     
                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">                          
                                         <h4 class="modal-title">Invitation to Itineraries</h4>
                                         <a  href = "/" ><button type="button" class="close" data-dismiss="modal">&times;</button> </a>
                                        </div>
                                        <div class="modal-body" id = "modalbody">
                                      
                                        </div>
                                        <div class="modal-footer">
                                            <a  href = "/"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>
                                          
                                        </div>
                                      </div>
                                      
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <a href="/"> <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close</button></a>

                            </div>
                        </div>

                    </div>
                 
                </ul> 
                <a class="nav-item nav-link" href="./api/logout" method="GET" id="login">Logout</a>

            </li>
            <li id="login-I" class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
    </nav>
</br>

    <br>
   <div class="text-center">
        <h1 id="loggedIn" class="display-1" style="font-size:3.5vw">Lets Travel the World Together!</h1>
    </div>
    <br>

   <!--Carousel Wrapper-->
    <div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <video class="video-fluid" autoplay loop muted>
                    
              <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
            </video>
          </div>      
      </div>  
    </div>
      <!--Carousel Wrapper-->

        <div class="text-center">
                <div class="container-fluid">
                    <br>
                    <h2 id="Header" class="display-4" style="font-size:2.5vw">Trending Places</h2>
                    </br>
                </div>
            </div>
        
            <!-- Trending places -->
    <div id="main_c" class="container-fluid bg-3">
            <div id="row" class="row">
                <div class="col-sm-4">
                    <div id="Travel" class="card" style="width:470px">
                        <img class="card-img-top" src="/cdn/images/Africa.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:1.5vw">Trending places in Africa</h4>
                            <p class="card-text"  style="font-size:1vw">Planning a trip North America?
                            </p>
                            <button id="button1" class="btn btn-outline-primary">Read More</button>
                        </div>
                    </div>
                </div>
    
                <div id="Places" class="col-sm-4">
                    <div id="Travel1" class="card" style="width:470px">
                        <img class="card-img-top" src="/cdn/images/Europe.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 id="North" class="card-title" style="font-size:1.5vw">Trending places in North America</h4>
                            <p class="card-text"  style="font-size:1vw">Planning a trip North America?
                            </p>
                            <button id="button2" class="btn btn-outline-primary">Read More</button>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-sm-4">
                    <div id="Travel2" class="card" style="width:470px">
                        <img class="card-img-top" src="/cdn/images/Asia.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:1.5vw">Trending places in South America</h4>
                            <p class="card-text" style="font-size:1vw">Planning a trip South America?
                            </p>
                            <button id="button3" class="btn btn-outline-primary">Read More</button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <hr>
        <!-- Footer -->
    
        <div class="jumbotron text-center" style="margin-bottom:0">
            <footer class="container-fluid bg-4 text-center">
                <div class=" container-fluid row">
                    <div class="col-sm">
                        <img src="/cdn/images/MyTrip.png" style="width:70px ; height: 70px">
                        <p>MyTripPlanner website made by <a href="#">Software Development Team</a></p>
                    </div>
                </div>
            </footer>
        </div>
    
    </div>
</body>
<script src='/cdn/scripts/layouts/layouts.js'></script>
<script src='/cdn/scripts/layouts/sessionName.js'></script>

</html>