.card {
    margin-left: 2cm;
    margin-bottom: 2cm;
    margin-top: 1cm;
    margin-right: 1cm;
}

.card-deck{
    margin-left: 2cm;
    margin-bottom: 2cm;
    margin-top: 2cm;
    margin-right: 2cm;

}
.display-4{
    margin-top: 1cm;
    margin-left: 11cm;
}

/* .edit-- {
    position: absolute;
    top: 95%;
    left: 7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: red;
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  } */

  .del-- {
    position: absolute;
    top: 95%;
    left: 91%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: red;
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }