.card {
    margin-left: 2cm;
    margin-bottom: 2cm;
    margin-top: 1cm;
    margin-right: 1cm;
}

.card-deck{
    margin-left: 2cm;
    margin-bottom: 2cm;
    margin-top: 2cm;
    margin-right: 2cm;

}
.display-4{
    margin-top: 1cm;
    margin-left: 11cm;
}